#Python Assignment 1

In [ ]:
# Task 1: Largest of three numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c

print("Largest number is:", largest)

In [2]:
# Task 2: Even or Odd
n = int(input("Enter an integer: "))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: 8
Even

In [3]:
# Task 3: Skip numbers divisible by 7
for i in range(1, 101):
    if i % 7 == 0:
        continue
    print(i, end=" ")
print()

1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 36 37 38 39 40 41 43 44 45 46 47 48 50 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79 80 81 82 83 85 86 87 88 89 90 92 93 94 95 96 97 99 100

In [4]:
# Task 4: Multiplication table
n = int(input("Enter a number for its multiplication table: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number for its multiplication table: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
# Task 5: Right-angled triangle pattern
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()

Enter number of rows: 8
*
**
***
****
*****
******
*******
********

In [6]:
# Task 6: Incremental number pattern
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Enter number of rows: 9
1
12
123
1234
12345
123456
1234567
12345678
123456789

In [7]:
# Task 7: Vowel or Consonant
ch = input("Enter a single alphabet: ").strip()
if len(ch) != 1 or not ch.isalpha():
    print("Not an alphabet character.")
else:
    if ch.lower() in "aeiou":
        print("Vowel")
    else:
        print("Consonant")

Enter a single alphabet: t
Consonant

In [8]:
# Task 8: Diamond pattern of stars (no spaces; matches sample)
n = int(input("Enter n (e.g., 5): "))
for i in range(1, n + 1):
    print("*" * (2 * i - 1))
for i in range(n - 1, 0, -1):
    print("*" * (2 * i - 1))

Enter n (e.g., 5): 9
*
***
*****
*******
*********
***********
*************
***************
*****************
***************
*************
***********
*********
*******
*****
***
*

In [11]:
# Task 9: Reverse digits of a number
num = int(input("Enter an integer: "))
sign = -1 if num < 0 else 1
num = abs(num)

rev = 0
while num > 0:
    rev = rev * 10 + (num % 10)
    num //= 10

print("Reversed number:", sign * rev)

Enter an integer: 784643
Reversed number: 346487

In [10]:
# Task 10: Numeric pyramid
n = int(input("Enter number of rows (e.g., 5): "))
for i in range(1, n + 1):
    left = "".join(str(x) for x in range(1, i + 1))
    right = "".join(str(x) for x in range(i - 1, 0, -1))
    print(left + right)

Enter number of rows (e.g., 5): 8
1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321

By,
Utkarsh Anand